html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

#navbar {
    height: 100%;
    width: 25%;
    background-color: #3c3c3c;
    position: fixed;
    left: 0;
}

#map {
    height: 100%;
    width: 75%;
    float: right;
}
