{% load static %}

<!DOCTYPE html>
<html>
  <head>
      <title>.point</title>
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <meta charset="utf-8">
      <link rel="stylesheet" type="text/css" href="../../static/css/main.css">
      <link href="https://fonts.googleapis.com/css?family=Comfortaa" rel="stylesheet">
      <script src="https://code.jquery.com/jquery-3.2.1.js"
              integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE="
              crossorigin="anonymous">
      </script>
  </head>
  <body>
  <div id="body">
      <div id="menu" class="">
          <div id="brand">
              <a class="navbar-brand" href="{% url 'main' %}">
                  <h1>.point</h1>
              </a>
          </div>
          <div id="navbar">
              <ul class="navbar-btns">
                  <li><a href="#" id="search-btn"><img src="{% static '../../static/003-signs.png' %}"><span class="menu-help">wyszukaj</span></a></li>
                  <li><a href="#" id="category-btn"><img src="{% static '../../static/002-web.png' %}"><span class="menu-help">kategorie</span></a></li>
                  <li><a href="#" id="favourite-btn"><img src="{% static '../../static/001-like.png' %}"><span class="menu-help">ulubione</span></a></li>
                  <li><img class="side-bar-button on hidden" src="{% static '../../static/005-next.png' %}"></li>
                  <li><img class="side-bar-button off" src="{% static '../../static/006-back.png' %}"></li>
              </ul>
          </div>
      </div>
      <div class="options-bar search">
          <h1>wyszukaj</h1>
          <form action="" method="GET" class="search-form">
              <input id="search-input" type="text" placeholder="wyszukaj" name="search-input" oninput="loaddata();">
          </form>
          <div id="search-result">

          </div>
      </div>

      <div class="options-bar category hidden">
          <h1>wybierz kategorię</h1>
          <div class="categories">
              <ul class="options-btns">
                  <li><button type="button">category 1</button></li>
                  <li><button type="button">category 2</button></li>
                  <li><button type="button">category 3</button></li>
                  <li><button type="button">category 4</button></li>
                  <li><button type="button">category 5</button></li>
                  <li><button type="button">category 6</button></li>
              </ul>
          </div>
      </div>

      <div class="options-bar favourite hidden">

      </div>


    <div id="map" class=""></div>
  </div>

    <script>
        function loaddata() {
            var text = $(document).find("#search-input").val();
            console.log(text);
            $("#search-result").children().remove();

            if (text) {
                $.ajax({
                    url: "/places?text=" + text,
                    type: "GET",
                    dataType: 'json',

                }).done(function (response) {
                    console.log(response);
                    var result = $('#search-result');
                    response.forEach(function (element) {
                        var newTitle = $("<h2 class='title'>");
                        var div = $("<div class='desc'>");
                        newTitle.text(element.name);
                        result.append(newTitle);
                        result.append(div);
                    });
                });
            }
        }

    </script>

    <script>
        document.addEventListener("DOMContentLoaded", function() {
            var sidebar = document.querySelectorAll('.side-bar-button');
            for (var i=0; i<sidebar.length; i++) {
                sidebar[i].addEventListener('click', function () {
                    document.querySelector('.side-bar-button.on').classList.toggle('hidden');
                    document.querySelector('.side-bar-button.off').classList.toggle('hidden');
                    if (document.querySelector('.side-bar-button.on').classList.contains('hidden')) {
                        document.querySelector('#menu').style.width = '200px';
                        for (var k=0; k<document.querySelectorAll('.options-bar').length; k++) {
                            document.querySelectorAll('.options-bar')[k].style.marginLeft = '200px';
                        }
                    }
                    else {
                        document.querySelector('#menu').style.width = '80px';
                        for (var k=0; k<document.querySelectorAll('.options-bar').length; k++) {
                            document.querySelectorAll('.options-bar')[k].style.marginLeft = '80px';
                        }
                    }
                    for (var j=0; j<document.querySelectorAll('.menu-help').length; j++) {
                        document.querySelectorAll('.menu-help')[j].classList.toggle('hidden');
                    }
                });
            }
            document.querySelector('#category-btn').addEventListener('click', function () {
                document.querySelector('.options-bar.category').classList.toggle('hidden');
            });
        });
    </script>

    <script>
        function initMap() {

            var places = (("{{ places }}").replace(/&(l|g|quo)t;/g, function(a,b){
                return {
                    l   : '<',
                    g   : '>',
                    quo : '"'
                }[b];
            }));

            places = places.replace(/u'/g, '\'')
            places = places.replace(/'/g, '\"')

            var obj = JSON.parse(places);

// styled map stylers
            var styledMapType = new google.maps.StyledMapType(
                [ { "elementType": "geometry", "stylers": [ { "color": "#1A406C" }, { "lightness": -40 } ] },
                    { "elementType": "labels.icon", "stylers": [ { "visibility": "off" } ] },
                    { "elementType": "labels.text.fill", "stylers": [ { "color": "#757575" } ] },
                    { "elementType": "labels.text.stroke", "stylers": [ { "color": "#212121" } ] },
                    { "featureType": "administrative", "elementType": "geometry", "stylers": [ { "color": "#ff6443" } ] },
                    { "featureType": "administrative.country", "elementType": "geometry", "stylers": [ { "weight": 2.5 } ] },
                    { "featureType": "administrative.country", "elementType": "labels.text.fill", "stylers": [ { "color": "#ffffff" } ] },
                    { "featureType": "administrative.land_parcel", "stylers": [ { "visibility": "off" } ] },
                    { "featureType": "administrative.locality", "stylers": [ { "visibility": "on" } ] },
                    { "featureType": "administrative.locality", "elementType": "labels.text", "stylers": [ { "weight": 4.5 } ] },
                    { "featureType": "administrative.locality", "elementType": "labels.text.fill", "stylers": [ { "color": "#fffde4" } ] },
                    { "featureType": "administrative.neighborhood", "elementType": "labels.text.fill", "stylers": [ { "color": "#e3d2ba" } ] },
                    { "featureType": "poi", "elementType": "labels.text.fill", "stylers": [ { "color": "#fff9f9" } ] },
                    { "featureType": "poi.park", "elementType": "geometry", "stylers": [ { "color": "#082351" }, { "lightness": -30 } ] },
                    { "featureType": "poi.park", "elementType": "labels.text.fill", "stylers": [ { "color": "#ab9c85" } ] },
                    { "featureType": "poi.park", "elementType": "labels.text.stroke", "stylers": [ { "color": "#1b1b1b" } ] },
                    { "featureType": "road", "elementType": "geometry.fill", "stylers": [ { "color": "#8d7634" } ] },
                    { "featureType": "road", "elementType": "labels.text.fill", "stylers": [ { "color": "#ffffff" } ] },
                    { "featureType": "road.arterial", "elementType": "geometry", "stylers": [ { "color": "#4a624a" }, { "lightness": 25 } ] },
                    { "featureType": "road.arterial", "elementType": "labels.text.fill", "stylers": [ { "color": "#e3d2ba" } ] },
                    { "featureType": "road.arterial", "elementType": "labels.text.stroke", "stylers": [ { "color": "#334433" } ] },
                    { "featureType": "road.highway", "elementType": "geometry", "stylers": [ { "color": "#6e926e" }, { "lightness": 20 } ] },
                    { "featureType": "road.highway", "elementType": "labels.text.fill", "stylers": [ { "color": "#e3d2ba" }, { "weight": 1.5 } ] },
                    { "featureType": "road.highway", "elementType": "labels.text.stroke", "stylers": [ { "color": "#334433" } ] },
                    { "featureType": "road.highway.controlled_access", "elementType": "geometry", "stylers": [ { "color": "#6a8e6a" }, { "lightness": 20 } ] },
                    { "featureType": "road.highway.controlled_access", "elementType": "labels.text.fill", "stylers": [ { "color": "#e3d2ba" } ] },
                    { "featureType": "road.highway.controlled_access", "elementType": "labels.text.stroke", "stylers": [ { "color": "#334433" } ] },
                    { "featureType": "road.local", "elementType": "geometry.fill", "stylers": [ { "color": "#658565" }, { "lightness": -45 } ] },
                    { "featureType": "road.local", "elementType": "labels.text.fill", "stylers": [ { "color": "#e3d2ba" } ] },
                    { "featureType": "road.local", "elementType": "labels.text.stroke", "stylers": [ { "color": "#334433" } ] },
                    { "featureType": "transit", "stylers": [ { "color": "#4a574a" } ] },
                    { "featureType": "transit", "elementType": "labels.text.fill", "stylers": [ { "color": "#757575" } ] },
                    { "featureType": "water", "elementType": "geometry", "stylers": [ { "color": "#adc9b8" } ] },
                    { "featureType": "water", "elementType": "geometry.stroke", "stylers": [ { "visibility": "off" } ] },
                    { "featureType": "water", "elementType": "labels.text.fill", "stylers": [ { "color": "#3d3d3d" } ] }
                    ],
                {name: 'Dark Map'}
            );

// map info
            var map = new google.maps.Map(document.getElementById('map'), {
                center: {lat: 52.2297, lng: 21.0122},
                zoom: 16,
                zoomControl: true,
                mapTypeControl: false,
                backgroundColor: '#496149',
            });

            map.mapTypes.set('styled_map', styledMapType);
            map.setMapTypeId('styled_map');

// setting position marker
            if (navigator.geolocation) {
                navigator.geolocation.getCurrentPosition(function(position) {
                    var pos = {
                        lat: position.coords.latitude,
                        lng: position.coords.longitude
                    };
                var marker = new google.maps.Marker({
                    position: pos,
                    animation: google.maps.Animation.DROP,
                    map: map,
                    title: 'Your position',
                    icon: {
                        path: 'M0-48c-9.8 0-17.7 7.8-17.7 17.4 0 15.5 17.7 30.6 17.7 30.6s17.7-15.4 17.7-30.6c0-9.6-7.9-17.4-17.7-17.4z',
                        fillColor: '#ff6443',
                        fillOpacity: 1,
                        strokeColor: '',
                        strokeWeight: 0
                    }
                });
                map.setCenter(pos);
                    }, function() {
                        handleLocationError(true, infoWindow, map.getCenter());
                    });
            }
            else {
                handleLocationError(false, infoWindow, map.getCenter());
            }


                for (var i = 0; i < obj.length; i++) {
                    var marker = new google.maps.Marker({
                        position: {
                            lat: obj[i].fields.position_lat,
                            lng: obj[i].fields.position_lng
                        },
                        animation: google.maps.Animation.DROP,
                        map: map,
                        title: obj[i].fields.name,
                        icon: {
                            path: 'M0-48c-9.8 0-17.7 7.8-17.7 17.4 0 15.5 17.7 30.6 17.7 30.6s17.7-15.4 17.7-30.6c0-9.6-7.9-17.4-17.7-17.4z',
                            fillColor: '#ffffff',
                            fillOpacity: 1,
                            strokeColor: '',
                            strokeWeight: 0
                        },
                    });
                    var content = (
                        '<h1>' + obj[i].fields.name + '</h1>' +
                        '<h2>' + obj[i].fields.description + '</h2>' +
                        '<h3>Adres: ' + obj[i].fields.address + '</h3>' +
                        '<h3>Tal: ' + obj[i].fields.phone_number + '</h3>' +
                        '<a href="'+ obj[i].fields.url + '"><h3>' + obj[i].fields.url + '</h3></a>'
                    );


                    var infowindow = new google.maps.InfoWindow();


                    google.maps.event.addListener(marker,'click', (function(marker,content, infowindow){
                        return function() {
                            infowindow.setContent(content);
                            infowindow.open(map,marker);
                        };
                    })(marker,content,infowindow));
                }
}

            function handleLocationError(browserHasGeolocation, infoWindow, pos) {
                infoWindow.setPosition(pos);
                infoWindow.setContent(browserHasGeolocation ?
                    'Error: The Geolocation service failed.' :
                    'Error: Your browser doesn\'t support geolocation.');
                infoWindow.open(map);
            }
    </script>
    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD0MvgxV7JmYsbUBa4vi2tgiwsQFPtHDHk&callback=initMap">
    </script>
  </body>
</html>